html{
    font-family: 'DM Sans', sans-serif;
}
body{
    margin:0;
}

header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1vw 1vw;
    padding-right:2vw;
    box-sizing: border-box;
    position:sticky;
    top:0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(182, 182, 182, 0.2);
}

.logo-and-language-wrapper{
    display:flex;
    align-items: center;
    gap:1rem;
}
.logo-and-language-wrapper img{
    width:2.5rem;
    object-fit: cover;
}
.logo-wrapper{
    display:flex;
    align-items: center;
}
.language-wrapper{
    /* display:flex;
    align-items: center;
    gap:0.5rem; */
    display:none;
}

.navigation-and-login-wrapper{
    display:flex;
    gap:2rem;
}
.navigation-and-login-wrapper ul{
    /* display:flex;
    list-style:none;
    gap:1rem; */
    display:none;
}
.navigation-and-login-wrapper ul a{
    text-decoration:none;
    color:grey;
}

.button-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.login-btn{
    all:unset;
    border:1px solid black;
    padding: 10px;
    border-radius: 5px;
    display:none;
}

.logo-name{
    font-weight:600;
    letter-spacing:2px;
    font-size:0.9rem;
}
.burger-menu{
    all:unset;
}
.burger-menu img{
    width:1.2rem;
    object-fit: cover;
}
main{
    color: #2f1c6a;
}



.top-wrapper{
    display:flex;
    flex-direction: column;
    gap:1.6rem;
    width:90vw;
    margin:auto;
    margin-bottom:6rem;
}
.top-wrapper section:first-child{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.price{
    font-size:2.2rem;
    font-weight:600;
}
.price span{
    font-size:1.2rem;
    font-weight:normal;
}
.special-offer{
    font-size:1.1rem;
    font-weight:600;
    padding-top:0.5rem;
    margin:0;
}
.bottom-wrapper{
    width:70%;
    margin:auto;
    display:inline;
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    gap:1.5rem;
    margin-top:1rem;
}
.countdown{
    display:flex;
    gap:0.2rem;
    align-items: baseline;
    width:100%;
    justify-content: space-evenly;
}
.number{
    font-size:1.4rem;
    border:1px solid #2f1c6a;
    border-radius:10%;
    padding:1.2rem;
}
.choose-plan-button{
    all:unset;
    width:100%;
    background-color: #673de6;
    color:white;
    padding:0.8rem 0;
    border-radius:5px;
    font-weight:600;
    text-align:center;
}

.top-wrapper section:last-child{
    width:100%;
}

.top-wrapper section:last-child img{
    width:100%;
    /* height:100%; */
    object-fit:contain;
}

.ratings{
    display:flex;
    /* width:90%; */
    width:95vw;
    margin:auto;
    margin-bottom:2rem;
    justify-content: center;
    gap:6vw;
    /* padding:0 0.5rem; */
    /* box-sizing: border-box; */
}

.square{
    /* width:5vw; */
    width: 2.5rem;
    background-color: rgb(0, 182, 122);
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.square img{
    /* width:100%;
    height:100%; */
    width: 1.5rem;
    object-fit:cover;
}
.stars{
    display:flex;
    /* width:30vw; */
    width:13.5rem;
    justify-content: space-between;
}
.ratings-and-reviews{
    /* width:30vw; */
    width:13rem;
    display:flex;
    font-size: 0.9rem;
    justify-content: space-between;
}
.rating{
    font-weight: 600;
}
.reviews{
    font-weight: 600;
}
.platform-name{
    /* font-size:3vw; */
    font-weight:600;
}
.text-wrapper{
    text-align:center;
    padding:0.3rem 1rem;
    width:70vw;
    margin:auto;
}

.plan-info{
    /* display:grid;
    grid-template-columns: 1fr 1fr; */
    display:flex;
    flex-direction:row-reverse;
    width:70vw;
    margin:auto;
    justify-items: center;
    /* gap:2%; */
    padding:2% 0;
    border: 1px solid blue;
    /* box-sizing: border-box; */
    font-size:14px;
}
.plan-info ul{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:0;
    /* padding:0; */
    padding-top:6rem;
    /* padding-bottom:4rem; */
}
.info-wrapper{
    width:90%;
}
/* .free-domain{
    grid-column-start:2;
    grid-column-end: 3;
} */
.middle{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
    /* border-left: 1px solid blue; */
    border-right: 1px solid blue;
    text-align:center;
    padding-left:2vw;
    padding-right:2vw;
}
.middle h3{
    font-size:1.3vw;
}

.special-price{
    display: flex;
    gap:1rem;
    align-items: center;
}
.special-price span:first-child{
    text-decoration: line-through;
}
.special-price span:last-child{
    background-color: #cfc3f1;
    color:#673de6;
    font-weight: 600;
    padding:8px 10px;
    border-radius:40px;

}

.add-to-the-basket-button{
    all:unset;
    width:80%;
    background-color: #673de6;
    color:white;
    padding:0.6rem 0;
    border-radius:5px;
    font-weight:600;
}
.condition{
    font-size:0.8vw;
}
.free-for-three-months{
    color:#673de6;
}

#hidden-element{
    display:none;
}

.button-container{
    border:1px solid blue;
    border-top:none;
    width:70vw;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: center;
}

.learn-more-button{
    all:unset;
    display:inline-block;
    width:20vw;
    height:6vh;
    color:#673de6;
}

.payment-conditions{
    width:95vw;
    margin:auto;
    text-align:center;
    margin-top:1.5rem;
}

.payment-conditions a{
    text-decoration: none;
}

.options{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction:column;
}
#dropdownInput{
    width:80%;
    margin:auto;
    padding:4px;
}
.options ul{
    display:flex;
    list-style: none;
    display:none;
}
.options ul li{
    /* padding:0 1.5rem; */
    padding-bottom:1rem;
    border-bottom:1px solid grey;
}
.options ul a{
    text-decoration: none;
    color:grey;
    padding:0 1.5rem;
    padding-bottom:1rem;
}
.options ul a:hover{
    text-decoration: none;
    color:#673de6;
    font-weight:600;
    border-bottom:3px solid #673de6;
}
.picture-wrapper{
    display:flex;
    flex-direction:column;
    width:50%;
    margin:auto;
    align-items: center;
    gap:1rem;
    padding-top:1.5rem;
}
.picture-wrapper img{
    width:100%;
}
.hidden-picture{
    display:none;
}


@media screen and (min-width: 768px) {
    .language-wrapper{
        display:flex;
        align-items: center;
        gap:0.5rem;
    }
    .navigation-and-login-wrapper ul{
        display:flex;
        list-style:none;
        gap:2.5rem;
    }
    .login-btn{
        all:unset;
        border:2px solid black;
        padding: 12px 16px;
        border-radius: 5px;
        font-weight:600;
    }
    .burger-menu{
        display:none;
    }
    .burger-menu img{
        display:none;
    }
    .top-wrapper{
        flex-direction:row;
        width:70vw;
    }
    .top-wrapper section:first-child{
        width:40%;
        text-align:left;
    }
    .bottom-wrapper{
        margin:0;
        margin-top:1rem;
    }
    .top-wrapper section:last-child{
        width:60%;
    }
    .top-wrapper section:last-child img{
        width:100%;
        height:100%;
        object-fit:contain;
        margin-left:6rem;
    }
    .plan-info{
        flex-direction:row;
    }
    #hidden-element{
        display: block;
    }
    .middle{
        border-left: 1px solid blue;
    }
    .button-container{
        display:none;
    }
    .options ul{
        display:flex;
        list-style: none;
    }
    #dropdownInput{
        display:none;
    }

    .picture-wrapper {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: auto;
        justify-content: space-evenly;
      }
      
      .picture-wrapper img {
        width: 30%;
        height: 100%;
        object-fit: contain;
      }
      
      .hidden-picture {
        display: block;
        width: 10% !important;
      }


}

