html{
    font-family: 'DM Sans', sans-serif;
}
body{
    margin:0;
}
header{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:1rem 1.5rem;
    box-sizing: border-box;
}

.logo-name{
    font-weight:600;
    letter-spacing:2px;
    font-size:0.9rem;
}
.burger-menu{
    all:unset;
}
.burger-menu img{
    width:1.2rem;
    object-fit: cover;
}
main{
    color: #2f1c6a;
}

main section:first-child{
    text-align:center;
    padding:1rem 1.5rem;
}